@using GitTime.Web.Infrastructure.GitHub.Data
@using GitTime.Web.Models.View.Issue

@model FinderModel

@{
    var _dataSource = (ICollection<GitHubIssueInfo>)ViewBag.DataSource;
}

@Html.Partial("_SearchResultsHeader")

<p>
    <div id="EditorPlaceholder"></div>
</p>

@if (_dataSource.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Repository</th>
                <th>Summary</th>
                <th>Opened</th>
                <th>Closed</th>
                <th style="text-align:right;">Hours</th>
                <th style="width:13px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GitHubIssueInfo row in _dataSource)
            {
                <tr>
                    <td>
                        <a href="javascript:issueController.showViewer(@row.ID);" title="View">#@String.Format("{0:0000}", row.Number)</a> @(
                            row.Labels.FirstOrDefault(l => String.Compare(l.Name, "urgent") == 0) != null
                                ? Html.Raw("<span style='color:#ff0000; cursor:default;' title='Urgent Priority' class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span>")
                                : row.Labels.FirstOrDefault(l => String.Compare(l.Name, "nonessential") == 0) != null
                                    ? Html.Raw("<span style='color:#009000; cursor:default;' title='Low Priority' class='glyphicon glyphicon-arrow-down' aria-hidden='true'></span>")
                                    : null
                        )
                    </td>
                    <td>@row.Repository.Name</td>
                    <td>@row.Title</td>
                    <td>
                        @(row.User != null ? Html.Raw(String.Format("<img alt='{0}' title='{0}' src='{1}' style='width:16px; height:16px;'>", row.User.LoginName, row.User.AvatarUrl)) : null)
                        @String.Format("{0:MMM d, yyyy}", row.CreatedOn)
                    </td>
                    <td>@(row.ClosedOn.HasValue ? String.Format("{0:MMM d, yyyy} at {0:hh:mm tt}", row.ClosedOn) : null)</td>
                    <td style="text-align:right;">0.0</td>
                    <td>
                        <a href="javascript:_finder.showTimecardEditor(@row.ID);" title="Add Hours">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_SearchResultsPager")
}
else
{
    <strong>There are currently no issues assigned to you.</strong>
}
