@using GitTime.Web.Models.View

@model FindModel

@{
    var _errorMessage = (string)ViewBag.ErrorMessage;
}

<!-- Modal -->
<div class="modal fade" id="Editor" tabindex="-1" role="dialog" aria-labelledby="EditorTitle" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditorTitle">
                    @(Model.Edit.ID.HasValue ? "Edit Timecard": "New Timecard")
                </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Edit", null, null, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                {
                    <div class="alert alert-danger" role="alert" style="display:none;">
                        @if(_errorMessage != null)
                        {
                            @(_errorMessage)
                        }
                        else
                        {
                            @("Make sure all fields have valid values.")
                        }
                    </div>
                    
                    @Html.HiddenFor(x => x.Edit.ID)
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Date", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Edit.EntryDate, "{0:MM\\/dd\\/yyyy}", new { type = "date", @class = "form-control" })
                                    @{ Html.ValidateFor(x => x.Edit.EntryDate); }
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Person", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.PersonSelectorFor(x => x.Edit.PersonContactID)
                                    @{ Html.ValidateFor(x => x.Edit.PersonContactID); }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Issue #", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Edit.IssueNumber, new { type = "number", @class = "form-control" })
                                    @{ Html.ValidateFor(x => x.Edit.IssueNumber); }
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Hours", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.Edit.Hours, new { type = "number", @class = "form-control" })
                                    @{ Html.ValidateFor(x => x.Edit.Hours); }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Project", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ProjectSelectorFor(x => x.Edit.ProjectID)
                            @{ Html.ValidateFor(x => x.Edit.ProjectID); }
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Description", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.Edit.IssueDescription, new { rows = 5, @class = "form-control" })
                        </div>
                    </div>
                }


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="_editor.save();">Save</button>
            </div>
        </div>
    </div>
</div>
