@using GitTime.Web.Infrastructure.Web
@using GitTime.Web.Infrastructure.GitHub

@{
    var gitTimeUser = GitTimeUser.Current;
    var gitHubUser = GitHubUser.GetCurrent();
    var userName = gitHubUser.IsAuthenticated
        ? String.Format(
            "<img alt=\"\" style=\"width:20px; height:20px; margin-right:2px;\" src=\"{0}\"> {1} {2}",
            gitHubUser.AvatarUrl, gitTimeUser.FirstName, gitTimeUser.LastName
          )
        : String.Format("{0} {1}", gitTimeUser.FirstName, gitTimeUser.LastName);

    var isDeveloper = GitTimeUser.Current.IsInRole("Developer");
    var isAdministrator = GitTimeUser.Current.IsInRole("Administrator");
        
    var userMenu = new List<List<MvcHtmlString>>();

    if (isDeveloper || isAdministrator)
    {
        var devMenuItems = new List<MvcHtmlString>();
        
        if (gitHubUser.IsAuthenticated)
        {
            devMenuItems.Add(Html.ActionLink("Issues", "Find", "Issue"));
        }
        
        devMenuItems.Add(Html.ActionLink("Timecards", "Find", "Timecard"));
        
        userMenu.Add(devMenuItems);
    }

    if (isAdministrator)
    {
        userMenu.Add(new List<MvcHtmlString>(new[] {
            Html.ActionLink("Companies", "Find", "Company"),
            Html.ActionLink("Persons", "Find", "Person"),
            Html.ActionLink("Projects", "Find", "Project")
        }));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | GitTime</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GitTime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("SearchCriteria", required: false)

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (userMenu.Count > 0)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Html.Raw(userName)</a>

                            <ul class="dropdown-menu">
                                @for(var i = 0; i < userMenu.Count; i++)
                                {
                                    var items = userMenu[i];

                                    if (i > 0)
                                    {
                                        <li role="separator" class="divider"></li>
                                    }

                                    foreach (var item in items)
                                    {
                                        <li>@item</li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><p class="navbar-text">@userName</p></li>
                    }
                    <li><a href="@Url.Action("Logout", "Login")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
